.credentialsInterface{
    height: 350px;
    width: 500px;
    background-color: rgb(183, 183, 183);
    border: solid;
    border-color: rgb(130,130,130);
    border-radius: 15%
}

.credentialsInterface p, a{
    text-align: center;
    font-family: sans-serif;
    
}

.credentialsInterface input{
    position: relative;
    left: 165px;
}

/* LOG IN INTERFACE*/
#loginTitle{
    font-size: 36px;
    
}

#loginBtn{
    position:absolute;
    top: 265px;
    left: 235px;
}

#loginGuest{
    position: absolute;
    top: 290px;
}

#loginToRegister{
    position: absolute;
    top: 325px;
    left: 200px;
}

/* REGISTRATION INTERFACE*/
#registerInterface{
    display: none;
}

#registerTitle{
    font-size: 36px;
}

#registerBtn{
    position: absolute;
    top:280px;
    left: 235px;
}

#confirmPasswordInput{
    display: block;
    margin-top: 5px;
}

#registerToLogin{
    position: absolute;
    top: 325px;
    left: 175px;
}

